@model CBMS.Models.Roster.StaffProfileLeaveProfileModel

<div class="form-group">
    @Html.LabelFor(model => model.EligibleLeaveCount, htmlAttributes: new { @class = "control-label col-md-3" })
    <div class="input-group col-md-3">
        @Html.EditorFor(model => model.EligibleLeaveCount, new { htmlAttributes = new { @class = "form-control", @Value = "20" } })
        <span class="input-group-addon">Days</span>
        @Html.ValidationMessageFor(model => model.EligibleLeaveCount, "", new { @class = "text-danger" })
    </div>
    @Html.LabelFor(model => model.WorkingHoursPerWeek, htmlAttributes: new { @class = "control-label col-md-3"})
    <div class="input-group col-md-3">
        @Html.EditorFor(model => model.WorkingHoursPerWeek, new { htmlAttributes = new { @class = "form-control", @Value = "60" } })
        <span class="input-group-addon">Hours</span>
        @Html.ValidationMessageFor(model => model.WorkingHoursPerWeek, "", new { @class = "text-danger" })
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
