@model CBMS.Models.ViewModels.ConfigBrandViewModel

@{
    ViewBag.Title = "EditBrand";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Edit Brand
    <span class="pull-right">
        @*<small><a onclick="history.go(-1);return false;" href="#">Back</a></small>*@
        <small>@Html.ActionLink("Back", "ListOutlet", new { brandId = Model.Brands[0].Id })</small>
    </span>
</h2>
<h4>@Model.Brands[0].Name</h4>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Brands[0].Id);
    <div class="form-inline">
        <label>Brand Name: </label>
        <div class="form-group">
            <div>
                @Html.EditorFor(model => model.Brands[0].Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Brand Name" } })
            </div>
        </div>
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
}

