@model IEnumerable<CBMS.Models.Config.ConfigVisaTypeModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValidatoinPeriodYears)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValidatoinPeriodMonths)
        </th>
        <th></th>
    </tr>

    @if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValidatoinPeriodYears)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValidatoinPeriodMonths)
                </td>
                <td>
                    @Ajax.ActionLink("Edit", "EditConfigVisaType", new { configVisaTypeId = item.Id }, new AjaxOptions { OnBegin = "OnBegin", OnComplete = "ShowEditConfigVisaTypeModal", HttpMethod = "GET", UpdateTargetId = "divEditConfigVisaType" }, new { @class = "btn btn-default" })
                    @Ajax.ActionLink("Delete", "DeleteConfigVisaType", new { configVisaTypeId = item.Id }, new AjaxOptions { OnBegin = "OnBegin", OnComplete = "OnComplete", HttpMethod = "POST", Confirm = "Are you sure you want to deactivate this item?", UpdateTargetId = "VisaTypeList" }, new { @class = "btn btn-default" })
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td>No Data return.</td>
            <td></td>
            <td></td>
        </tr>
    }
</table>

