@model CBMS.Models.ViewModels.ConfigValueViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Config Value</h2>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Config Bank
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                @using (Ajax.BeginForm("CreateConfigBank", new AjaxOptions { UpdateTargetId = "bankList" }))
                {
                    <div class="form-inline">
                        <div class="form-group">
                            <label class="sr-only">Bank Name: </label>
                            @Html.EditorFor(m => m.NewConfigBank.BankName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Bank Name" } })
                        </div>
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                }
                <br />

                <div id="bankList">
                    @{Html.RenderPartial("_ListConfigBank", Model.ConfigBanks);}
                </div>
                <div id="divEditConfigBank">
                    @{Html.RenderPartial("_EditConfigBank", Model.NewConfigBank);}
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Config Leave Type
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                @using (Ajax.BeginForm("CreateConfigLeave", new AjaxOptions { UpdateTargetId = "leaveList" }))
                {
                    <div class="form-inline">
                        <div class="form-group">
                            <label class="sr-only">Leave Type: </label>
                            @Html.EditorFor(m => m.NewConfigLeave.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Leave Name" } })
                        </div>
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                }
                <br />

                <div id="leaveList">
                    @{Html.RenderPartial("_ListConfigLeave", Model.ConfigLeaves);}

                </div>
                <div id="divEditConfigLeave">
                    @{Html.RenderPartial("_EditConfigLeave", Model.NewConfigLeave);}
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Config Pay Code Value
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                @using (Ajax.BeginForm("CreateConfigPayCodeValue", new AjaxOptions { UpdateTargetId = "PayCodeValueList" }))
                {
                    <div class="form-inline">
                        <div class="form-group">
                            <label>PayCode Name: </label>
                            @Html.EditorFor(m => m.NewConfigPayCodeValue.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "PayCode Name" } })
                        </div>
                        <div class="form-group">
                            <label>PayCode Value ($): </label>
                            @Html.EditorFor(m => m.NewConfigPayCodeValue.Value, new { htmlAttributes = new { @class = "form-control", @placeholder = "PayCode Value ($)" } })
                        </div>
                        <div class="form-group">
                            <label>Hourly Rate ?: </label>
                            @Html.CheckBoxFor(m => m.NewConfigPayCodeValue.IsHourlyRate, new { htmlAttributes = new { @class = "form-control-inline", @checked = "checked" } })
                        </div>
                        <div class="form-group">
                            <label>Weekly Rate ?: </label>
                            @Html.EditorFor(m => m.NewConfigPayCodeValue.IsWeeklyRate, new { htmlAttributes = new { @class = "form-control-inline", @checked = false } })
                        </div>
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                }
                <br />

                <div id="PayCodeValueList">
                    @{Html.RenderPartial("_ListConfigPayCodeValue", Model.ConfigPayCodeValues);}

                </div>
                <div id="divEditConfigPayCodeValue">
                    @{Html.RenderPartial("_EditConfigPayCodeValue", Model.NewConfigPayCodeValue);}
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Config Position Type
                </a>
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
                @using (Ajax.BeginForm("CreateConfigPositionType", new AjaxOptions { UpdateTargetId = "PositionTypeList" }))
                {
                    <div class="form-inline">
                        <div class="form-group">
                            <label>Position Type Name: </label>
                            @Html.EditorFor(m => m.NewConfigPositionType.PositionType, new { htmlAttributes = new { @class = "form-control", @placeholder = "Position Type Name" } })
                        </div>
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                }
                <br />

                <div id="PositionTypeList">
                    @{Html.RenderPartial("_ListConfigPositionType", Model.ConfigPositionTypes);}

                </div>
                <div id="divEditConfigPositionType">
                    @{Html.RenderPartial("_EditConfigPositionType", Model.NewConfigPositionType);}
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFive">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Config Visa Type
                </a>
            </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
                @using (Ajax.BeginForm("CreateConfigVisaType", new AjaxOptions { UpdateTargetId = "VisaTypeList" }))
                {
                    <div class="form-inline">
                        <div class="form-group">
                            <label>Visa Type Name: </label>
                            @Html.EditorFor(m => m.NewConfigVisaType.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Visa Type Name" } })
                        </div>
                        <div class="form-group">
                            <label>Visa Validate Year (optional): </label>
                            @Html.EditorFor(m => m.NewConfigVisaType.ValidatoinPeriodYears, new { htmlAttributes = new { @class = "form-control", @placeholder = "Visa Validate Year (optional)" } })
                        </div>
                        <div class="form-group">
                            <label>Visa Validate Month (optional): </label>
                            @Html.EditorFor(m => m.NewConfigVisaType.ValidatoinPeriodMonths, new { htmlAttributes = new { @class = "form-control", @placeholder = "Visa Validate Month (optional)" } })
                        </div>
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                }
                <br />

                <div id="VisaTypeList">
                    @{Html.RenderPartial("_ListConfigVisaType", Model.ConfigVisaTypes);}

                </div>
                <div id="divEditConfigVisaType">
                    @{Html.RenderPartial("_EditConfigVisaType", Model.NewConfigVisaType);}
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingSix">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    Config Shift Type
                </a>
            </h4>
        </div>
        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
            <div class="panel-body">
                @using (Ajax.BeginForm("CreateConfigShiftType", new AjaxOptions { UpdateTargetId = "ShiftTypeList" }))
                {
                    <div class="form-inline">
                        <div class="form-group">
                            <label>Shift Type Name: </label>
                            @Html.EditorFor(m => m.NewConfigShiftType.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Shift Type Name" } })
                        </div>
                        <div class="form-group">
                            <label>Shift Start Time: </label>
                            @Html.EditorFor(m => m.NewConfigShiftType.StartHour, new
                       {
                           htmlAttributes = new
                           {
                               @class = "form-control",
                               @placeholder = "00:00"
                           }
                       })
                        </div>
                        <div class="form-group">
                            <label>Shift End Time: </label>
                            @Html.EditorFor(m => m.NewConfigShiftType.EndHour, new
                       {
                           htmlAttributes = new
                           {
                               @class = "form-control",
                               @placeholder = "00:00"
                           }
                       })
                        </div>
                        <div class="form-group">
                            <label>Break Time : (Hours) </label>
                            @Html.EditorFor(m => m.NewConfigShiftType.BreakTime, new
                       {
                           htmlAttributes = new
                           {
                               @class = "form-control",
                               @placeholder = "0"
                           }
                       })
                        </div>
                        <div class="form-group">
                            <label>Total Working Hours: </label>
                            @Html.EditorFor(m => m.NewConfigShiftType.TotalHour, new
                       {
                           htmlAttributes = new
                           {
                               @class = "form-control",
                               @placeholder = "0"
                           }
                       })
                        </div>
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                }
                <br />

                <div id="ShiftTypeList">
                    @{Html.RenderPartial("_ListConfigShiftType", Model.ConfigShiftTypes);}

                </div>
                <div id="divEditConfigShiftType">
                    @{Html.RenderPartial("_EditConfigShiftType", Model.NewConfigShiftType);}
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingSeven">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    Config Units
                </a>
            </h4>
        </div>
        <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
            <div class="panel-body">
                @using (Ajax.BeginForm("CreateConfigUnit", new AjaxOptions { UpdateTargetId = "UnitList" }))
                {
                    <div class="form-inline">
                        <div class="form-group">
                            <label>Unit Name: </label>
                            @Html.EditorFor(m => m.NewConfigUnit.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Unit Name" } })
                        </div>
                        <div class="form-group">
                            <label>Unit Name (Chinese): </label>
                            @Html.EditorFor(m => m.NewConfigUnit.ChinName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Unit Name" } })
                        </div>
                        <div class="form-group">
                            <label>Unit Type: </label>
                            @Html.EnumDropDownListFor(m => m.NewConfigUnit.unitType, new
                           {
                               @class = "form-control"
                           })
                        </div>
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                }
                <br />

                <div id="UnitList">
                    @{Html.RenderPartial("_ListConfigUnit", Model.ConfigUnits);}

                </div>
                <div id="divEditConfigUnit">
                    @{Html.RenderPartial("_EditConfigUnit", Model.NewConfigUnit);}
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryajax")

    <script>
        function OnBegin() {
            $("body").attr("style", "cursor:progress");
        }
        function OnComplete() {
            $("body").attr("style", "cursor:auto");
        }
        function ShowEditConfigBankModal() {
            $('#EditConfigBankModal').modal('toggle');
            $("body").attr("style", "cursor:auto");
        }
        function HideEditConfigBankModal() {
            $('#EditConfigBankModal').modal('toggle');
            $("body").attr("style", "cursor:auto");
        }
        function ShowEditConfigLeaveModal() {
            $('#EditConfigLeaveModal').modal('toggle');
            $("body").attr("style", "cursor:auto");
        }
        function HideEditConfigLeaveModal() {
            $('#EditConfigLeaveModal').modal('toggle');
            $("body").attr("style", "cursor:auto");
        }
        function ShowEditConfigPayCodeValueModal() {
            $('#EditConfigPayCodeValueModal').modal('toggle');
            $("body").attr("style", "cursor:auto");
        }
        function HideEditConfigPayCodeValueModal() {
            $('#EditConfigPayCodeValueModal').modal('toggle');
            $("body").attr("style", "cursor:auto");
        }
        function ShowEditConfigPositionTypeModal() {
            $('#EditConfigPositionTypeModal').modal('toggle');
            $("body").attr("style", "cursor:auto");
        }
        function HideEditConfigPositionTypeModal() {
            $('#EditConfigPositionTypeModal').modal('toggle');
            $("body").attr("style", "cursor:auto");
        }
        function ShowEditConfigVisaTypeModal() {
            $('#EditConfigVisaTypeModal').modal('toggle');
            $("body").attr("style", "cursor:auto");
        }
        function HideEditConfigVisaTypeModal() {
            $('#EditConfigVisaTypeModal').modal('toggle');
            $("body").attr("style", "cursor:auto");
        }
        function ShowEditConfigShiftTypeModal() {
            $('#EditConfigShiftTypeModal').modal('toggle');
            $("body").attr("style", "cursor:auto");
        }
        function HideEditConfigShiftTypeModal() {
            $('#EditConfigShiftTypeModal').modal('toggle');
            $("body").attr("style", "cursor:auto");
        }
        function ShowEditConfigUnitModal() {
            $('#EditConfigUnitModal').modal('toggle');
            $("body").attr("style", "cursor:auto");
        }
        function HideEditConfigUnitModal() {
            $('#EditConfigUnitModal').modal('toggle');
            $("body").attr("style", "cursor:auto");
        }
    </script>
}